{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<script>
    function togglePassword(fieldId) {
    const field = document.getElementById(fieldId);

    if (field.type === "password") {
        field.type = "text";
    } else {
        field.type = "password";
    }
}
</script>

<body>
    <div class="container">
        <h2>create Account</h2>

        <form method="post" class="form-box">
            {% csrf_token %}
        
            {% if form.errors %}
                <div class="error-box">
                    {{ form.errors }}
                </div>
            {% endif %}  

        <div class="form-group">
            <label >Username</label>
            {{ form.username }}
            <small class="hint">{{ form.username.help_text }}</small>
        </div>

        <div class="form-group">
            <label >Email</label>
            {{ form.email }}
        </div>

        <div class="form-group password-wrapper">
            <label >Password</label>
            {{ form.password1 }}
            <span class="toggle-password" onclick="togglePassword('id_password1')">
                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
             </svg>
            </span>
        </div>

        <div class="form-group password-wrapper">
            <label >Confirm Password</label>
            {{ form.password2 }}
            <span class="toggle-password" onclick="togglePassword('id_password2')">
                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" viewBox="0 0 24 24">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z"></path>
                    <circle cx="12" cy="12" r="3"></circle>
             </svg>
            </span>
        </div>

         <button type="submit">Sign Up</button>

        </form>
    </div>
</body>

</html>